---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Danscan">
	<main transition:animate="fade">
		<h1>Both Can Now Enter, Thank you for Due Diligence</h1>
        <img class="rounded" src="dan-stuti-couple.JPG" alt="Entry Granted" />

	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	h2 {
		font-size: 3rem;
		font-weight: 500;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	
	.rounded {
		border-radius: 30%;
		object-fit: cover;
		object-position: center;
		width: 300px;
		height: 300px;
		margin: 0 auto;
		display: block;
	}
</style>